package blog

import _ "embed"

//go:embed style.css
var rawCSS []byte

templ header(name string) {
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Željko Benović</title>
    @templ.Raw("<style>" + string(rawCSS) + "</style>")
</head>
}