name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      pages: write
      id-token: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup GO
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Generate templ code
        uses: capthiron/templ-generator-action@v1
        with:
          commit: "false"
          setup-go: "false"
      - name: Run Mage
        uses: magefile/mage-action@v3
        with:
          version: latest
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: zeljkobenovic.com
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4